
<style>
     
     .floor_div{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            line-height: 0.1rem;

        }
        .floor_div img{
            width: 1rem;
            height: 1rem;
        }
        .floor_div span{
          margin-bottom: 1.1rem;
        }
</style>
<div data-v-8755e8fe="" data-v-eebac136="" class="footer" style="background:#fff;height: 1.5rem;border-top: solid 1px #999;">
    <ul data-v-8755e8fe="">
        <li onclick="window.location.href='{:url(\'index/home\')}'" data-v-8755e8fe="" class="floor_div">
             <img class="floor_img" src="/img/shuadan_dt_btn_1.png">
             <span >{:lang('首页')}</span> 
        </li>
        <li onclick="window.location.href='{:url(\'order/index\')}'" data-v-8755e8fe="" class="floor_div">
             <img class="floor_img" src="/img/shuadan_dt_btn_2.png">
             <span >{:lang('记录')}</span> 
        </li>
        <li onclick="window.location.href='{:url(\'rot_order/index\')}'" data-v-8755e8fe="" class="floor_div">
               <img class="floor_img" src="/img/shuadan_dt_btn_3.png">
               <span >{:lang('任务')}</span> 
        </li>
        <li onclick="window.location.href='{:url(\'support/index\')}'" data-v-8755e8fe="" class="floor_div">
               <img class="floor_img" src="/img/shuadan_dt_btn_4.png">
               <span >{:lang('客服')}</span> 
        </li>
        <li onclick="window.location.href='{:url(\'my/index\')}'" data-v-8755e8fe="" class="floor_div">
               <img class="floor_img" src="/img/shuadan_dt_btn_5.png">
               <span >{:lang('我的')}</span> 
        </li>
    </ul>
</div>
